@charset "utf-8";
/* @import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css); /* Nanum Gothic */

/* reset */
html, body, div, span, object,h1, h2, h3, h4, h5, h6, p, blockquote, a, button, abbr, address, img, q,dl, dt, dd, ol, ul, li,fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,article, aside, footer, header, section, summary{margin:0;padding:0;border:0;font:inherit;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section{display: block;}/* HTML5 display-role reset for older browsers */
body,html{width:100%;height:100%;}
ol, ul{list-style:none;}
table{border-collapse:collapse;border-spacing:0;}
img{border:none;vertical-align:top;}
a{display:inline-block;text-decoration:none;}
address{font-style:normal;}
button{display:inline-block;border:none;background-color:transparent;cursor:pointer;}
input,button,a,select,textarea{font-family:inherit;font-size:inherit; }
input[type="checkbox"]{border:none !important;}/* for lte ie10 */
input[type="radio"]{border:none !important;}/* for lte ie10 */

/* common */
body,html{font-family:'Nanum Gothic', 'NanumGothic', '나눔고딕', '맑은 고딕', sans-serif;font-size:14px;letter-spacing:-1px;color:#333;}

.clearFix:after{content:"";display:block;clear:both;}

.hidden{visibility:hidden;width:0;height:0;overflow:hidden;font-size:0;} 

input[type="text"], input[type="password"], textarea{padding:5px;box-sizing:border-box;border:1px solid #e0e0e0;-webkit-border-radius:3px;-moz-border-radius:3px;-ms-border-radius:3px;border-radius:3px;}
input[type="file"]{padding:2px;border:1px solid #e0e0e0;-webkit-border-radius:3px;-moz-border-radius:3px;-ms-border-radius:3px;border-radius:3px;}
select{padding:4px 5px;box-sizing:border-box;border:1px solid #e0e0e0;-webkit-border-radius:3px;-moz-border-radius:3px;-ms-border-radius:3px;border-radius:3px;}
button{line-height:1em;}
textarea{line-height:1.4em;background-color:#fff;}

/* layout */
/* 
.wrap-all{position:relative;min-width:1280px;height:100%;overflow-x:hidden;}
 */
 .wrap-all{position:relative;min-width:1280px;height:100%;overflow-x:hidden;overflow-y:auto;}
.header{position:absolute;width:100%;top:0;}
.lnb{position:absolute;margin-top:60px;}
.content{position:relative;height:100%;}
.subCont{margin-left:170px;margin-top:60px;padding:30px 40px;min-width:960px;}
.wrap-allTwo{position:relative;min-width:600px;height:100%;overflow-x:hidden;overflow-y:auto;}
.subContTwo{margin-left:170px;margin-top:10px;padding:10px 20px;min-width:500px;}
.subContTwo h3{color:#224d7f;font-weight:bold;font-size:14px;margin:20px 0 10px;background:url("../../images/img_dot_blue.png") no-repeat left center;padding-left:15px;}
.subContTwo{position:relative;}
.table-verTwo{width:960px;border-top:2px solid #5193e1;font-size:12px;}
.table-verTwo th{padding:5px 10px;line-height:1.4em;text-align:left;color:#80808f;font-weight:bold;background-color:#edeff5;border:1px solid #dadada;}
.table-verTwo td{padding:5px 10px;line-height:26px;color:#333;border:1px solid #dadada;}

/* header*/
.header{background:url("../../images/back_header.png");z-index:99;}
.header h1{margin-left: 25px;width: 235px;height: 60px;background: url("../../images/logo.png") no-repeat left center;text-indent: -9999px;}
.gnb{position:absolute;left:200px;top:0;font-size:15px;}
.gnb li{float:left;}
.gnb li.current{font-weight:bold;background-color:#0cbc49;}
.gnb li a{line-height:60px;padding:0 15px;color:#fff;}
.sta{position:absolute;right:25px;top:0;font-size:12px;}
.sta li{float:left;line-height:60px;color:#fff;background:url("../../images/img_dot_white.png") no-repeat left center;padding-left:7px;margin-left:7px;}
.sta li:first-child{background:none;}
.sta li a{display:block;color:#fff;}
.btn-txtIn{width:23px;height:21px;border-top-left-radius:3px;border-bottom-left-radius:3px;background:url("../../images/txt_zoomin.png") no-repeat center center;background-color:#fff;margin-left:5px;margin-right:1px;vertical-align:middle;text-indent:-9999px;line-height:21px;}
.btn-txtOut{width:23px;height:21px;border-top-right-radius:3px;border-bottom-right-radius:3px;background:url("../../images/txt_zoomout.png") no-repeat center center;background-color:#fff;vertical-align:middle;text-indent:-9999px;line-height:21px;}


/* lnb */
.lnb{border-right:1px solid #dadada;background-color:#fff;z-index:99;}
.logInfo{width:170px;border-right:1px solid #0d60bf;box-sizing:border-box;padding-left:70px;padding-top:25px;padding-bottom:20px;background:url("../../images/loginfo.png") no-repeat 15px 20px;background-color:#f8f9fb;}
.userName{color:#333;font-size:16px;font-weight:bold;margin-bottom:3px;}
.userGroup{color:#0cbc49;font-size:12px;font-weight:bold;margin-bottom:10px;}
.btn-logout{font-size:12px;color:#858787;background-color:#e9e9e9;border:1px solid #cfcfd0;padding:5px 10px;}

.nav{overflow:hidden;width:170px;}
.depth_1{width:169px;position:relative;border-right:1px solid #0d60bf;border-top:1px solid #dadada;}
.depth_1>li{height:105px;}
.depth_1>li.current{background-color:#3380d9;}
.depth_1>li>a{font-weight:bold;width:100%;height:100%;box-sizing:border-box;padding-top:73px;font-size:14px;color:#606060;text-align:center;}
.depth_1>li.current>a{color:#fff;}
.depth_2{width:149px;position:absolute;right:-150px;top:-1px;}
.depth_2>li{border-bottom:1px solid #dadada}
.depth_2>li:first-child{border-top:1px solid #dadada}
.depth_2>li.current{background-color:#3380d9;}
.depth_2>li.current a{color:#fff;}
.depth_2>li>a{display:block;height:100%;padding:15px;box-sizing:border-box;margin-right:10px;font-weight:bold;color:#606060;background:url("../../images/arrow_down.png") no-repeat right center;}
.depth_2>li.current>a{background:url("../../images/arrow_down_current.png") no-repeat right center;}

.depth_3>li{background-color:#1a68c3;}
.depth_3>li a{padding:10px 10px 10px 15px;color:#fff;width:100%;box-sizing:border-box;}

.lnbList_01{background:url("../../images/menu_01.png") no-repeat center 15px;}
.current .lnbList_01{background:url("../../images/menu_01_current.png") no-repeat center 15px;}
.lnbList_02{background:url("../../images/menu_02.png") no-repeat center 15px;}
.current .lnbList_02{background:url("../../images/menu_02_current.png") no-repeat center 15px;}
.lnbList_03{background:url("../../images/menu_03.png") no-repeat center 15px;}
.current .lnbList_03{background:url("../../images/menu_03_current.png") no-repeat center 15px;}
.lnbList_04{background:url("../../images/menu_04.png") no-repeat center 15px;}
.current .lnbList_04{background:url("../../images/menu_04_current.png") no-repeat center 15px;}
.lnbList_05{background:url("../../images/menu_05.png") no-repeat center 15px;}
.current .lnbList_05{background:url("../../images/menu_05_current.png") no-repeat center 15px;}
.lnbList_06{background:url("../../images/menu_06.png") no-repeat center 15px;}
.current .lnbList_06{background:url("../../images/menu_06_current.png") no-repeat center 15px;}
.lnbList_07{background:url("../../images/menu_07.png") no-repeat center 15px;}
.current .lnbList_07{background:url("../../images/menu_07_current.png") no-repeat center 15px;}
.lnbList_08{background:url("../../images/menu_08.png") no-repeat center 15px;}
.current .lnbList_08{background:url("../../images/menu_08_current.png") no-repeat center 15px;}
.lnbList_09{background:url("../../images/menu_09.png") no-repeat center 15px;}
.current .lnbList_09{background:url("../../images/menu_09_current.png") no-repeat center 15px;}


.btn-lnb{width:36px;height:36px;position:absolute;top:65px;right:-18px;background:url("../../images/arrow_left.png") no-repeat;z-index:999;text-indent:-9999px;}
.btn-lnb.closeLnb{background:url("../../images/arrow_right.png") no-repeat;}


/* content */
.area-map{width:100%;height:100%;}
.mapControl{position:absolute;right:15px;top:80px;}
.mapControl ul{float:left;}
.mapControl ul li{float:left;}
.mapControl ul li button{height:45px;text-indent:-9999px;}

.btnGroup_1 li{margin-left:5px;}
.btnGroup_1 li button{border:1px solid #333;background-color:#fff;-webkit-border-radius:5px;-moz-border-radius:5px;-ms-border-radius:5px;border-radius:5px;}
.btnGroup_1 li button.selected{background-color:#eee;}
.btnGroup_2{margin-left:5px;border:1px solid #333;-webkit-border-radius:5px;-moz-border-radius:5px;-ms-border-radius:5px;border-radius:5px;}
.btnGroup_2 li{border-left:1px solid #dcdcdd;position:relative;}
.btnGroup_2 li:first-child{border-left:none;}
.btnGroup_2 li button{background-color:#fff;}
.btnGroup_2 li button.selected{background-color:#eee;}

.btn-searchPos{background:url("../../images/btn_searchpos.png") no-repeat center center;width:57px;}
.btn-searchPos.selected{background:url("../../images/btn_searchpos_selected.png") no-repeat center center;}
.btn-layer{background:url("../../images/btn_layer.png") no-repeat center center;width:66px;}
.btn-layer.selected{background:url("../../images/btn_layer_selected.png") no-repeat center center;}
.btn-theme{background:url("../../images/btn_theme.png") no-repeat center center;width:57px;}
.btn-theme.selected{background:url("../../images/btn_theme_selected.png") no-repeat center center;}
/* 2015-11-13 LeeJuYeon 수정 */
.btn-searchInfo{background:url("../../images/btn_searchinfo.png") no-repeat center center;width:55px;-webkit-border-top-left-radius:5px;-moz-border-top-left-radius:5px;-ms-border-top-left-radius:5px;border-top-left-radius:5px;-webkit-border-bottom-left-radius:5px;-moz-border-bottom-left-radius:5px;-ms-border-bottom-left-radius:5px;border-bottom-left-radius:5px;}
.btn-searchInfo.selected{background:url("../../images/btn_searchinfo_selected.png") no-repeat center center;}
.btn-move{background:url("../../images/btn_move.png") no-repeat center center;width:55px;}
.btn-move.selected{background:url("../../images/btn_move_selected.png") no-repeat center center;}
.btn-viewall{background:url("../../images/btn_viewall.png") no-repeat center center;width:55px;}
.btn-viewall.selected{background:url("../../images/btn_viewall_selected.png") no-repeat center center;}
.btn-zoomIn{background:url("../../images/btn_zoomin.png") no-repeat center center;width:55px;}
.btn-zoomIn.selected{background:url("../../images/btn_zoomin_selected.png") no-repeat center center;}
.btn-zoomOut{background:url("../../images/btn_zoomout.png") no-repeat center center;width:55px;}
.btn-zoomOut.selected{background:url("../../images/btn_zoomout_selected.png") no-repeat center center;}
.btn-selectObj{background:url("../../images/btn_selectobj.png") no-repeat center center;width:55px;}
.btn-selectObj.selected{background:url("../../images/btn_selectobj_selected.png") no-repeat center center;}
.btn-selectArea{background:url("../../images/btn_selectarea.png") no-repeat center center;width:65px;}
.btn-selectArea.selected{background:url("../../images/btn_selectarea_selected.png") no-repeat center center;}
.btn-size{background:url("../../images/btn_size.png") no-repeat center center;width:55px;-webkit-border-top-right-radius:5px;-moz-border-top-right-radius:5px;-ms-border-top-right-radius:5px;border-top-right-radius:5px;-webkit-border-bottom-right-radius:5px;-moz-border-bottom-right-radius:5px;-ms-border-bottom-right-radius:5px;border-bottom-right-radius:5px;}
.btn-size.selected{background:url("../../images/btn_size_selected.png") no-repeat center center;}
.btn-distance{background:url("../../images/btn_distance.png") no-repeat center center;width:55px;}
.btn-distance.selected{background:url("../../images/btn_distance_selected.png") no-repeat center center;}
.btn-print{background:url("../../images/btn_print.png") no-repeat center center;width:55px;-webkit-border-top-right-radius:5px;-moz-border-top-right-radius:5px;-ms-border-top-right-radius:5px;border-top-right-radius:5px;-webkit-border-bottom-right-radius:5px;-moz-border-bottom-right-radius:5px;-ms-border-bottom-right-radius:5px;border-bottom-right-radius:5px;}
.btn-print.selected{background:url("../../images/btn_print_selected.png") no-repeat center center;}

.hiddenMenu{border:1px solid #333;border-top:none;position:absolute;left:-1px;bottom:-185px;}
.hiddenMenu li{clear:both;border-left:none;border-top:1px solid #dcdcdd;}
.btn-point{background:url("../../images/btn_point.png") no-repeat center center;width:55px;}
.btn-point.selected{background:url("../../images/btn_point_selected.png") no-repeat center center;}
.btn-circle{background:url("../../images/btn_circle.png") no-repeat center center;width:55px;}
.btn-circle.selected{background:url("../../images/btn_circle_selected.png") no-repeat center center;}
.btn-square{background:url("../../images/btn_square.png") no-repeat center center;width:55px;}
.btn-square.selected{background:url("../../images/btn_square_selected.png") no-repeat center center;}
.btn-polygon{background:url("../../images/btn_polygon.png") no-repeat center center;width:55px;}
.btn-polygon.selected{background:url("../../images/btn_polygon_selected.png") no-repeat center center;width:55px;}

.sitemap>div{margin-bottom:20px;}
.sitemap dl{float:left;margin-right:20px;margin-bottom:10px;width:220px;background-color:#fff;-webkit-border-radius:10px;-moz-border-radius:10px;-ms-border-radius:10px;border-radius:10px;overflow:hidden;}
.sitemap dt{line-height:45px;padding:0 25px;font-weight:bold;font-size:14px;color:#fff;background-color:#5093e1;}
.sitemap dd{padding:10px 25px;border:1px solid #dadada;border-top:none;-webkit-border-bottom-left-radius:10px;-moz-border-bottom-left-radius:10px;-ms-border-bottom-left-radius:10px;border-bottom-left-radius:10px;-webkit-border-bottom-right-radius:10px;-mozborder-bottom-right-radius:10px;-ms-border-bottom-right-radius:10px;border-bottom-right-radius:10px;}
.sitemap dd a{display:block;line-height:30px;font-size:12px;}
.step_1>li>a{background:url("../../images/img_step_1.png") no-repeat left center;padding-left:12px;color:#666;}
.step_2{padding-left:12px;}
.step_2>li>a{background:url("../../images/img_step_2.png") no-repeat left center;padding-left:10px;color:#9a9a9a;}

.programSetting{margin:60px 0 70px;width:570px;min-height:118px;background:url("../../images/img_program.png") no-repeat 60px center;padding-left:240px;}
.title-setting{font-size:25px;color:#333;margin-bottom:20px;}
.title-dotGray{font-size:12px;color:#666;line-height:2em;padding-left:10px;background:url("../../images/img_dot_gray.png") no-repeat left 10px;}

.subCont .clauseContent{font-size:12px;color:#494949;line-height:1.5em;}
.subCont .clauseContent h3{line-height:1em;font-size:18px;font-weight:bold;color:#333;padding:40px 0 10px;background-image:none;}
.subCont .clauseContent h4{line-height:1em;font-size:15px;font-weight:bold;color:#333;padding:20px 0 10px;}
.subCont .clauseContent ol{list-style:decimal;padding-left:20px;}
.subCont .clauseContent .item_2{list-style:none;counter-reset:step2section;}
.subCont .clauseContent .item_2 li{position:relative;}
.subCont .clauseContent .item_2 li:before{counter-increment:step2section;content:counter(step2section) ") ";margin-right:5px;position:absolute;top:0;left:-20px;}
.subCont .clauseContent .subTitle{font-size:13px;}

/* 지도서비스 팝업 */
.mapService{position:absolute;top:60px;width:240px;font-size:12px;background-color:#fff;border:3px solid #0d60bf;z-index:90;-webkit-border-radius:10px;-moz-border-radius:10px;-ms-border-radius:10px;border-radius:10px;overflow:hidden;}
.mapService.orgPos{left:171px;}
.mapService.shiftPos{left:320px}
.mapService.leftPos{left:1px}
.mapService h1{padding-left:13px;line-height:40px;font-size:16px;color:#fff;background-color:#0d60bf;}
.mapService .btn-closePop.btn-mapsvc{width:15px;height:16px;background:url("../../images/btn_closemapsvc.png") no-repeat;top:13px;}
.svcContent{padding-bottom:10px;}
.tab-svc ul{height:34px;padding:4px 4px 0;background-color:#edeff5;border-bottom:1px solid #c8ccd5;}
.tab-svc li{float:left;width:50%;height:35px;}
.tab-svc button{width:100%;height:100%;font-size:13px;color:#8a9098;font-weight:bold;border:1px solid transparent;border-bottom:none;-webkit-border-top-left-radius:5px;-moz-border-top-left-radius:5px;-ms-border-top-left-radius:5px;border-top-left-radius:5px;-webkit-border-top-right-radius:5px;-moz-border-top-right-radius:5px;-ms-border-top-right-radius:5px;border-top-right-radius:5px;}
.tab-svc li.current button{border-color:#c8ccd5;background-color:#fff;color:#2c7edc;}

.tab-pos{padding:15px 10px;}
.tab-pos ul{position:relative;height:30px;overflow:hidden;}
.tab-pos ul{position:relative;height:30px;overflow:hidden;}
.tab-pos li{float:left;width:50%;height:30px;}
.tab-pos button{width:100%;height:100%;color:#60636a;font-weight:bold;}
.tab-pos li.current button{color:#fff;background-color:#5093e1;-webkit-border-radius:15px;-moz-border-radius:15px;-ms-border-radius:15px;border-radius:15px;}

.addType{padding:10px 12px 0;background-color:#f8f9fb;border-top:1px solid #dadada;}
.addType li{float:left;background:url("../../images/img_radio.png") no-repeat left center;height:17px;margin-right:20px;}
.addType li.current{background:url("../../images/img_radio_current.png") no-repeat;}
.addType button{height:100%;padding:0 3px 0 23px;}

.area-search{padding:10px 12px;background-color:#f8f9fb;border-top:1px solid #dadada;border-bottom:1px solid #dadada;}
.no-borderT{border-top:none;}

.list-addType_1{margin-top:15px;padding:0 12px 15px;height:240px;overflow-y:auto;}
.list-addType_2{margin-top:15px;padding:0 12px 15px;height:240px;overflow-y:auto;}
.list-addType_3{margin-top:15px;padding:0 12px 15px;height:240px;overflow-y:auto;}
/* 2015-11-13 LeeJuYeon 수정 */
.list-blue{border-top:2px solid #5193e1;}
.list-blue li{padding:10px;border-bottom:1px solid #dadada;cursor:pointer;}
.list-blue li.current{color:#1163c1;background-color:#f3f6fb;}
.list-blue li input[type="checkbox"]{width:15px;height:15px;vertical-align:middle;}
.list-blue li input[type="radio"]{vertical-align:middle;}
.list-blue.themalayer{border-top:1px solid #dadada;}

.list-blue li.current li{color:#333;}
.list-blue li.current label{color:#333;}
.list-blue-sub li{float:left;padding:3px 5px 0 0;border-bottom:none;}
.list-blue-sub li input[type="radio"]{margin-left:0;margin-top:0;}

.tab-posCont table{width:100%;}
.tab-posCont table th{padding:2px 0;color:#80808f;font-weight:bold;text-align:left;line-height:30px;vertical-align:top;}
.tab-posCont table td{padding:2px 0;line-height:2em;}
.tab-posCont table select{border:2px solid #63696f;-webkit-border-radius:3px;-moz-border-radius:3px;-ms-border-radius:3px;border-radius:3px;} 
.tab-posCont table input{vertical-align:middle;line-height:1em;border:2px solid #63696f;-webkit-border-radius:3px;-moz-border-radius:3px;-ms-border-radius:3px;border-radius:3px;}
.tab-posCont table label{margin-right:10px;}
.tab-posCont table .btn-search{vertical-align:top;}
.tab-posCont h2{line-height:30px;font-size:13px;background:url("../../images/img_dob_black.png") no-repeat 5px center;padding-left:15px;}

.tab-layer{padding:7px 5px;margin-bottom:10px;border-bottom:1px solid #c8ccd5;}
.tab-layer ul{position:relative;height:30px;overflow:hidden;}
.tab-layer li{float:left;width:33.333333%;height:30px;}
.tab-layer button{width:100%;height:100%;color:#60636a;font-weight:bold;}
.tab-layer li.current button{color:#fff;background-color:#5093e1;-webkit-border-radius:15px;-moz-border-radius:15px;-ms-border-radius:15px;border-radius:15px;}

.tab-layerCont{padding:0 10px 15px;}
.tab-layerCont h2{margin-bottom:5px;line-height:26px;color:#224d7f;font-size:14px;font-weight:bold;background:url("../../images/img_dot_blue.png") no-repeat 3px center;padding-left:20px}

.tab-subStyle{margin:10px 0;}
.tab-subStyle li{float:left;padding:0 10px;border-left:1px solid #dadada;}
.tab-subStyle li:first-child{padding-left:0;border-left:none;} 
.tab-subStyle button{font-size:12px;color:#939393;font-weight:bold;}
.tab-subStyle li.current button{color:#2c7edc;}

.sub-condition{padding:0 10px;line-height:35px;font-size:14px;font-weight:bold;color:#5d6a88;background:url("../../images/img_detail_cdt.png") no-repeat 195px center;background-color:#d8dfe9;}


/* 인덱스맵 팝업 */
.indexMap{position:fixed;right:20px;bottom:345px;width:230px;background-color:#fff;border:1px solid #333;-webkit-border-top-left-radius:5px;-moz-border-top-left-radius:5px;-ms-border-top-left-radius:5px;border-top-left-radius:5px;-webkit-border-top-right-radius:5px;-moz-border-top-right-radius:5px;-ms-border-top-right-radius:5px;border-top-right-radius:5px;z-index:99;overflow:hidden;}
.indexMap h1{line-height:30px;font-size:12px;padding-left:15px;color:#333;background-color:#f8f9fb;border-bottom:1px solid #d7d8d9;}
.btn-idxmMin{position:absolute;right:10px;top:8px;width:15px;height:15px;background:url("../../images/btn_plus.png") no-repeat center center;text-indent:-9999px;}
.btn-idxmMin.close{position:absolute;right:10px;top:8px;width:15px;height:15px;background:url("../../images/btn_idxm_min.png") no-repeat center center;text-indent:-9999px;}
.idxmCont{height:175px;box-sizing:border-box;padding:5px;}

/* 지도하단 사업검색 팝업 */
.popBottom{position:fixed;right:20px;bottom:0;width:840px;box-sizing:border-box;font-size:12px;background-color:#fff;border:3px solid #0d60bf;-webkit-border-top-left-radius:10px;-moz-border-top-left-radius:10px;-ms-border-top-left-radius:10px;border-top-left-radius:10px;-webkit-border-top-right-radius:10px;-moz-border-top-right-radius:10px;-ms-border-top-right-radius:10px;border-top-right-radius:10px;z-index:999;}
.btn-bottom{position:absolute;left:50%;margin-left:-60px;top:-17px;width:120px;height:14px;background:url("../../images/btn_bottom.png");text-indent:-9999px;}
.btn-bottom.close{background:url("../../images/btn_bottom_close.png");}
.popBottom h1{line-height:40px;margin-left:15px;font-size:17px;font-weight:bold;background:url("../../images/pop_h2.png") no-repeat left center;text-indent:25px;}
.popBottom h2{line-height:30px;font-size:13px;background:url("../../images/img_dob_black.png") no-repeat 5px center;padding-left:15px;}
.legend{position:absolute;right:25px;top:10px;}
.legend span{line-height:16px;font-weight:bold;font-size:12px;display:inline-block;margin-left:20px;padding-left:20px;}
.legend-red{background:url("../../images/legend_red.png") no-repeat left center;}
.legend-blue{background:url("../../images/legend_blue.png") no-repeat left center;}
.legend-green{background:url("../../images/legend_green.png") no-repeat left center;}
.singleBox{padding:15px;background-color:#f8f9fb;border-top:1px solid #dadada;border-bottom:1px solid #dadada;}
.singleBox input[type="checkbox"]{width:15px;height:15px;vertical-align:middle;}
.singleBox input[type="text"], .singleBox select{font-size:12px;}

.singleBox2{padding:15px;background-color:#f8f9fb;border:1px solid #dadada;}
.singleBox2 input[type="checkbox"]{width:15px;height:15px;vertical-align:middle;}
.singleBox2 input[type="text"], .singleBox2 select{font-size:12px;}

.resultBox{padding:10px 15px 25px;height:200px;}

.popBottom table.table-hoz th{padding:5px;}
.popBottom table.table-hoz td{padding:5px;}


/* 지도부분 마우스 오른쪽 버튼 클릭 */
.area-musRight{position:absolute;width:150px;background-color:#fff;border:1px solid #333;-webkit-border-radius:5px;-moz-border-radius:5px;-ms-border-radius:5px;border-radius:5px;z-index:999;overflow:hidden;}
.area-musRight li{border-top:1px solid #d7d8d9;font-size:12px;}
.area-musRight li:first-child{border-top:none;}
.area-musRight a{display:block;line-height:30px;color:#333;padding-left:10px;}
.area-musRight a:hover{background-color:#3380d9;color:#fff;}

/* 업무알리미 */
.workReport{position:fixed;left:171px;bottom:0;width:240px;padding-bottom:5px;font-size:12px;background-color:#fff;border:3px solid #0d60bf;z-index:90;-webkit-border-radius:10px;-moz-border-radius:10px;-ms-border-radius:10px;border-radius:10px;}
.workReport.orgPos{left:171px;}
.workReport.shiftPos{left:320px}
.workReport.leftPos{left:1px}
.workReport h1{padding:0 15px;line-height:40px;color:#fff;font-size:16px;background-color:#0d60bf;margin-bottom:10px;}

/* 레이어명 팝업 */
.pop-layerName{position:absolute;left:50%;top:50%;margin-left:-95px;padding:10px 0;width:190px;background-color:#fff;border:1px solid #333;-webkit-border-radius:5px;-moz-border-radius:5px;-ms-border-radius:5px;border-radius:5px;z-index:9999;}
.pop-layerName label{display:block;padding:0 15px;font-size:13px;color:#666;}
.pop-layerName input[type="text"]{display:block;width:170px;margin:10px auto;}
.pop-layerName .area-btn{margin:0;padding-top:10px;border-top:1px solid #d7d8d9;}

/* table style */
.table-hoz{width:100%;border-top:2px solid #5193e1;font-size:12px;}
.table-hoz th{padding:5px;line-height:1.4em;color:#80808f;font-weight:bold;background-color:#edeff5;border:1px solid #dadada;white-space:nowrap;}
.table-hoz td{padding:5px;line-height:26px;text-align:center;border:1px solid #dadada;}
.table-hoz td.ta-l{text-align:left;}

.table-ver{width:100%;border-top:2px solid #5193e1;font-size:12px;}
.table-ver th{padding:5px 10px;line-height:1.4em;text-align:left;color:#80808f;font-weight:bold;background-color:#edeff5;border:1px solid #dadada;}
.table-ver td{padding:5px 10px;line-height:26px;color:#333;border:1px solid #dadada;}

table input[type="checkbox"]{width:15px;height:15px;vertical-align:middle;}
table input[type="radio"]{vertical-align:middle;}
table label{margin-right:10px;}

.intable-hoz{width:100%;border-top:2px solid #626e7a;font-size:12px;}
.intable-hoz th{padding:5px;line-height:1.4em;color:#333;font-weight:normal;background-color:#fafafc;border:1px solid #eeeeee;white-space:nowrap;text-align:center;}
.intable-hoz td{padding:5px;line-height:1.4em;border:1px solid #eeeeee;}

.table-list{width:100%;border-top:2px solid #5193e1;font-size:12px;}
.table-list th{padding:10px;line-height:1.4em;color:#80808f;font-weight:bold;background-color:#edeff5;border-bottom:1px solid #dadada;white-space:nowrap;}
.table-list td{padding:10px;line-height:1.4em;text-align:center;border-bottom:1px solid #dadada;}
.table-list td.ta-l{text-align:left;}
.table-list td a{text-align:left;color:inherit;box-sizing:border-box;}
.table-list tr:hover{background-color:#f3f6fb;}
.table-list tr:hover a{color:#1163c1;}
.reply_1{padding-left:15px;background:url("../../images/img_reply.png") no-repeat 0 center;}
.reply_2{padding-left:30px;background:url("../../images/img_reply.png") no-repeat 15px center;}
.reply_3{padding-left:45px;background:url("../../images/img_reply.png") no-repeat 30px center;}
.reply_4{padding-left:60px;background:url("../../images/img_reply.png") no-repeat 45px center;}
.reply_5{padding-left:75px;background:url("../../images/img_reply.png") no-repeat 60px center;}



.clr-g8{color:#8d8d8d;}

/* popup */
.popup{position:absolute;font-size:12px;box-sizing:border-box;background-color:#fff;border:3px solid #0d60bf;z-index:999;}
.popup h1{line-height:50px;font-size:22px;font-weight:bold;background-color:#0d60bf;color:#fff;text-indent:20px;}
.btn-closePop{position:absolute;right:15px;top:15px;width:14px;height:15px;background:url("../../images/btn_closepop.png") no-repeat;text-indent:-9999px;}
.btn-closeSelf{position:absolute;right:15px;top:15px;width:14px;height:15px;background:url("../../images/btn_closepop.png") no-repeat;text-indent:-9999px;}
.btn-min{position:absolute;right:65px;top:15px;width:14px;height:15px;background:url("../../images/btn_min.png") no-repeat;text-indent:-9999px;}
.btn-max{position:absolute;right:40px;top:15px;width:14px;height:15px;background:url("../../images/btn_max.png") no-repeat;text-indent:-9999px;}

.popContent{padding:5px 15px 20px;/* max-height:800px; */overflow-y:auto;}
.popup h2{margin-top:10px;line-height:40px;font-size:16px;font-weight:bold;background:url("../../images/pop_h2.png") no-repeat left center;text-indent:25px;}
.popup h3{margin-top:20px;margin-bottom:5px;line-height:26px;color:#224d7f;font-size:14px;font-weight:bold;background:url("../../images/img_dot_blue.png") no-repeat 3px center;padding-left:20px;}
#today{width:15px;height:15px;vertical-align:middle;}
.todayText{color:#666;}
.todayClose{margin-left:10px;padding:5px 20px 5px 7px;background:url("../../images/btn_todayclose.png") no-repeat 40px center;background-color:#edeff5;color:#87898e;border:1px solid #cdcfd0;-webkit-border-radius:3px;-moz-border-radius:3px;-ms-border-radius:3px;border-radius:3px;}

.history{border-bottom:1px solid #dadada;font-size:12px;color:#000;line-height:1.5em;}
.history li{padding:15px 10px;border-top:1px solid #dadada;}
.historyDate{display:block;color:#8d8d8d;}

.expression{text-align:center;margin-top:20px;}
.expression dl{width:240px;display:inline-block;text-align:center;}
.expression dt{line-height:40px;color:#fff;font-weight:bold;font-size:14px;background-color:#3380d9;}
.expression dd{line-height:60px;color:#3380d9;font-weight:bold;font-size:18px;border:1px solid #dadada;border-top:none;}
.expressionSum dt{background-color:#ff4e1f;}
.expressionSum dd{color:#ff4e1f;}
.expressionTxt{line-height:101px;margin:0 10px;color:#878787;font-weight:bold;font-size:25px;display:inline-block;vertical-align:top;}


.dotList{list-style:disc;padding:0 15px;}
.dotList li{list-style-position:inside;margin-bottom:8px;}
.arrowR:after{content:"";position:absolute;right:-35px;top:50%;margin-top:-12px;display:block;width:24px;height:24px;background:url("../../images/img_arrow_right.png");}
.arrowD:after{content:"";position:absolute;right:50%;margin-left:-12px;bottom:-40px;display:block;width:24px;height:24px;background:url("../../images/img_arrow_down.png");}
.arrowL:after{content:"";position:absolute;left:-35px;top:50%;margin-top:-12px;display:block;width:24px;height:24px;background:url("../../images/img_arrow_left.png");}
.workTitle{margin-left:-8px;padding-left:25px;padding-bottom:17px;line-height:38px;font-size:14px;font-weight:bold;color:#fff;background:url("../../images/img_worktitle.png") no-repeat;}

.workStep_1>div{position:relative;float:left;width:260px;height:200px;padding:15px 0;margin-left:45px;box-sizing:border-box;border:1px solid #dadada;-webkit-border-radius:10px;-moz-border-radius:10px;-ms-border-radius:10px;border-radius:10px;}
.workStep_1>div:first-child{margin-left:20px;}
.workStep_1>div .txtBlue{margin-left:5px;}

.workStep_2>div{position:relative;float:right;width:260px;height:200px;padding:15px 0;margin-right:45px;box-sizing:border-box;border:1px solid #dadada;-webkit-border-radius:10px;-moz-border-radius:10px;-ms-border-radius:10px;border-radius:10px;}
.workStep_2>div:first-child{margin-right:19px;}
.workStep_2>div .txtBlue{margin-left:5px;}

/* popup size */
.w430{width:430px;}
.w520{width:520px;}
.w680{width:680px;}
.w840{width:840px;}
.w945{width:945px;}
.w1070{width:1070px;}
.w1024{width:1008px;}
.w1028{width:1028px;}

/* 심플 스타일 팝업 */
.winPop{position:relative;box-sizing:border-box;padding:0px 10px 10px;font-size:13px;color:#333;border:1px solid #d5d5d5;}
.winPop h1{font-size:16px;font-weight:bold;color:#333;padding:10px 0 10px 10px;border-bottom:2px solid #0d60bf;margin-bottom:10px;}
.winPop .popTitle{font-size:15px;font-weight:bold;color:#333;padding:20px 0 0;}
.winPop h2{font-size:13px;color:#224d7f;margin:20px 0 10px;padding-left:15px;background:url("../../images/img_dot_blue.png") no-repeat left center;}
.btn-closeWin{position:absolute;right:15px;top:10px;width:15px;height:15px;background:url("../../images/btn_closewin.png") no-repeat;text-indent:-9999px;}

.area-popTab{padding:0 10px;}
.area-popTab ul{height:36px;border-bottom:1px solid #d8d9de;}
.area-popTab li{float:left;height:35px;margin-right:3px;background-color:#f3f4f6;border:1px solid #d8d9de;border-bottom-color:#d8d9de;-webkit-border-top-left-radius:5px;-moz-border-top-left-radius:5px;-ms-border-top-left-radius:5px;border-top-left-radius:5px;-webkit-border-top-right-radius:5px;-moz-border-top-right-radius:5px;-ms-border-top-right-radius:5px;border-top-right-radius:5px;}
.area-popTab li.current{border-bottom-color:#fff;background-color:#fff;}
.area-popTab button{padding:0 10px;height:100%;font-size:13px;color:#8a9098;font-weight:bold;}
.area-popTab .current button{color:#2c7edc;}

.area-popTabCont>div{padding:0 5px;}


/* 서브페이지 */
.subCont{position:relative;}
.subCont h2{color:#0d60bf;font-weight:bold;font-size:22px;margin-bottom:30px;}
.subCont h3{color:#224d7f;font-weight:bold;font-size:14px;margin:20px 0 10px;background:url("../../images/img_dot_blue.png") no-repeat left center;padding-left:15px;}
.pageRoute{position:absolute;right:40px;top:35px;font-size:12px;color:#666;margin-bottom:15px;}
.pageRoute span{display:inline-block;padding-right:15px;margin-right:10px;background:url("../../images/img_route.png") no-repeat right center;}

.attention{font-size:12px;line-height:1.5em;}

.fileList li{padding:2px 0;}

.pagination{margin:20px 0 10px;text-align:center;}
.pagination ul{display:inline-block;margin:0 5px;vertical-align:top;}
.pagination ul li{float:left;width:25px;height:25px;margin:0 2px;}
.pagination ul li button{width:100%;height:100%;color:#9c9c9c;font-size:12px;font-weight:bold;}
.pagination ul li.current button{color:#16a3db;font-weight:bold;}
.btn-first{width:25px;height:25px;margin:0 2px;border:1px solid #e3e5e7;background:url("../../images/btn_first.png") no-repeat center center;background-color:#fafafa;text-indent:-9999px;vertical-align:top;}
.btn-prev{width:25px;height:25px;margin:0 2px;border:1px solid #e3e5e7;background:url("../../images/btn_prev.png") no-repeat center center;background-color:#fafafa;text-indent:-9999px;vertical-align:top;}
.btn-next{width:25px;height:25px;margin:0 2px;border:1px solid #e3e5e7;background:url("../../images/btn_next.png") no-repeat center center;background-color:#fafafa;text-indent:-9999px;vertical-align:top;}
.btn-last{width:25px;height:25px;margin:0 2px;border:1px solid #e3e5e7;background:url("../../images/btn_last.png") no-repeat center center;background-color:#fafafa;text-indent:-9999px;vertical-align:top;}

.bannerList li{float:left;margin-right:20px;margin-bottom:20px;width:240px;height:70px;box-sizing:border-box;/* background-color:#f5f5f5; */border:1px solid #dadada;}
.bannerList li a{width:100%;height:100%;text-align:center;line-height:68px;}
.bannerList li a img{vertical-align:middle;}

.dataMoveR{width:38px;height:30px;margin:0 auto 10px;display:block;background:url("../../images/btn_datamove_r.png") no-repeat center center;background-color:#edeff5;border:1px solid #c3c6cd;-webkit-border-radius:3px;-moz-border-radius:3px;-ms-border-radius:3px;border-radius:3px;text-indent:-9999px;}
.dataMoveL{width:38px;height:30px;margin:0 auto;display:block;background:url("../../images/btn_datamove_l.png") no-repeat center center;background-color:#edeff5;border:1px solid #c3c6cd;-webkit-border-radius:3px;-moz-border-radius:3px;-ms-border-radius:3px;border-radius:3px;text-indent:-9999px;}

/* 로그인페이지 */
.wrap-loginPage{min-width:1000px;/* min-height:780px; */background:url("../../images/back_login.png") no-repeat center top;background-color:#558ed0;}

.area-login{width:1000px;margin:0 auto;}
.area-login h1{margin:0 auto;padding-top:80px;width:277px;height:58px;background:url("../../images/login_logo.png") no-repeat center bottom;text-indent:-9999px;}

.wrap-loginfo{margin:50px auto 0;width:330px;}
.wrap-loginfo p{position:relative;padding:14px 20px 14px 50px;border-bottom:1px solid #8e8e8e;}
.wrap-loginfo p span{position:absolute;font-size:16px;color:#222;line-height:28px;}
.wrap-loginfo p input{border:none;background-color:transparent;}
.wrap-loginfo .area-id{background:url("../../images/icon_id.png") no-repeat 14px center;}
.wrap-loginfo .area-pw{background:url("../../images/icon_pw.png") no-repeat 14px center;}
.wrap-loginfo .btn-login{width:100%;padding:15px;margin-top:20px;font-size:16px;font-weight:bold;color:#2c7edc;background-color:#fff;border:1px solid #2c7edc;}
.area-addition{position:relative;margin-top:10px;}
.area-addition a{font-size:13px;color:#717171;}
.area-addition a:hover{font-weight:bold;}
.lostInfo{position:absolute;right:0;top:0;}
.lostInfo li{float:left;}

.wrap-slide{position:relative;margin:450px 0 30px;width:100%;height:100px;overflow:hidden;}
.area-slide{position:relative;width:100%;height:100%;}
.area-slide>div{position:absolute;left:0;top:0;width:100%;height:100%;box-sizing:border-box;padding-top:20px;}
.txt-title{margin-bottom:10px;color:#fff;font-size:22px;text-align:center;}
.txt-addition{color:#cee2fa;font-size:14px;text-align:center;line-height:1.5em;}
.btn-slidePrev{position:absolute;left:0;top:50%;margin-top:-17px;width:19px;height:33px;background:url("../../images/btn_slideprev.png") no-repeat;text-indent:-9999px;}
.btn-slidePrev:hover{background:url("../../images/btn_slideprev_hover.png") no-repeat;}
.btn-slideNext{position:absolute;right:0;top:50%;margin-top:-17px;width:19px;height:33px;background:url("../../images/btn_slidenext.png") no-repeat;text-indent:-9999px;}
.btn-slideNext:hover{background:url("../../images/btn_slidenext_hover.png") no-repeat;}

.area-down{margin-bottom:60px;margin-top: 310px;}
.area-down ul li{float:left;width:33.333333%;height:180px;padding:0 50px;box-sizing:border-box;background:url("../../images/back_btn.png") no-repeat center center;}
.area-down ul li button{width:100%;height:100%;box-sizing:border-box;padding-top:70px;color:#5f6163;font-size:13px;background-repeat:no-repeat;background-position:center 50px;}
.area-down ul li button:hover{font-weight:bold;color:#558ed0;}
.btn-down01{background-image:url("../../images/btn_manual.png");}
.btn-down02{background-image:url("../../images/btn_excel.png");}
.btn-down03{background-image:url("../../images/btn_setting.png");}

.loginFooter{padding-bottom:30px;color:#336195;font-size:12px;font-weight:700;text-align:center;}

/* common */
.ta-l{text-align:left;}
.ta-r{text-align:right;}
.ta-c{text-align:center !important;}
.fl-r{float:right;}
.fl-l{float:left;}

.mt-0{margin-top:0 !important;}
.mt-5{margin-top:5px;}
.mt-10{margin-top:10px;}
.mb-0{margin-bottom:0 !important;}
.mb-5{margin-bottom:5px;}
.mb-10{margin-bottom:10px;}
.mb-20{margin-bottom:20px !important;}
.ml-0{margin-left:0 !important;}
.mr-10{margin-right:10px;}

.w100p{width:100%;}
.w48p{width:48%;}
.w43p{width:43%;}
.w110px{width:110px;}
.w100p_defaultHan{width:100%; ime-mode:active}
.scroll-y{overflow-y:auto;}
.scroll-x{overflow-x:auto;}

.area-btn{margin:10px 0;}
.area-btn select, .area-btn input[type="text"]{font-size:12px;}
.ta-r button{margin-left:5px;}
.ta-l button{margin-right:5px;}

.txtBlue{color:#2c7edc;}
.txtBlue2{color:#4374D9}
.txtBlueB{color:#4374D9;font-weight:bold;}
.txtBlueB{color:#4374D9;font-weight:bold;}
.txtGreenB{color:#2F9D27;font-weight:bold;}
.txtRedB{color:#ff5e5e;font-weight:bold;}
.txtRedBUp{color:#ff5e5e;font-weight:bold;font-size:14px;}
.txtRed{color:#f84d4d;margin-right:3px;}
.txtRed_heo{color:#f84d4d;margin-right:3px; font-size:16px;}
.txtBold{font-weight:bold;}
.redBox{display:inline-block;margin-left:10px;padding:0 15px;color:#ff5e5e;font-size:12px;border:1px solid #f59595;-webkit-border-radius:3px;-moz-border-radius:3px;-ms-border-radius:3px;border-radius:3px;}
.grayBox{border:1px solid #dadada;}
.addition{color:#4c5660;font-size:12px;}
ul.addition{line-height:1.5em;}
.txtBig{font-weight:bold;font-size:14px;}
.title-dot{padding-left:20px;margin:10px 0 5px;font-size:13px;background:url("../../images/img_dob_black.png") no-repeat 10px center;}
.title-dotG{padding-left:20px;margin:10px 0 5px;font-size:11px;background:url("../../images/img_step_2.png") no-repeat 10px center;}
.title-single{font-weight:bold;color:#80808f;margin-right:20px;}

.multistage{position:relative;}
.multistage input{vertical-align:middle;}
.multistage label{margin-right:10px;}
.pos-r{position:absolute;right:0;top:5px;}
.pos-l{position:absolute;font-size:12px;}
.pos-r button{margin-left:5px;}

.includeBtn{position:relative;}
.includeBtn button{position:absolute;right:0;top:0;}
.btn-green{padding:5px 30px 5px 10px;font-size:12px;color:#fff;font-weight:bold;background:url("../../images/imb_arrow.png") no-repeat right center;background-color:#3ab231;border:1px solid #2b9823;-webkit-border-radius:3px;-moz-border-radius:3px;-ms-border-radius:3px;border-radius:3px;}
.btn-gray{padding:5px 30px 5px 10px;font-size:12px;color:#fff;font-weight:bold;background:url("../../images/imb_arrow.png") no-repeat right center;background-color:#5f5f5f;border:1px solid #484848;-webkit-border-radius:3px;-moz-border-radius:3px;-ms-border-radius:3px;border-radius:3px;}
.btn-gray2{padding:5px 10px;font-size:12px;color:#fff;font-weight:bold;background-color:#5f5f5f;border:1px solid #484848;-webkit-border-radius:3px;-moz-border-radius:3px;-ms-border-radius:3px;border-radius:3px;}
.btn-white{padding:5px 10px;font-size:12px;color:#4c5660;font-weight:bold;background-color:#f3f4f5;border:1px solid #9c9fa5;-webkit-border-radius:3px;-moz-border-radius:3px;-ms-border-radius:3px;border-radius:3px;}
.btn-blue{padding:10px 30px 10px 10px;font-size:14px;font-weight:bold;color:#1b5198;background:url("../../images/btn_blue.png") no-repeat right center;background-color:#fff;border:1px solid #afb5bb;-webkit-border-radius:3px;-moz-border-radius:3px;-ms-border-radius:3px;border-radius:3px;}
.btn-sky{padding:5px 10px;font-size:12px;color:#fff;background-color:#5093e1;border:1px solid #216bc2;-webkit-border-radius:3px;-moz-border-radius:3px;-ms-border-radius:3px;border-radius:3px;}
.btn-light{padding:5px 10px;font-size:12px;color:#fff;font-weight:bold;background-color:#7c838a;border:1px solid #63696f;-webkit-border-radius:3px;-moz-border-radius:3px;-ms-border-radius:3px;border-radius:3px;}
.btn-slategray{padding:5px 10px;font-size:12px;color:#fff;background-color:#92a2b4;border:1px solid #657689;-webkit-border-radius:3px;-moz-border-radius:3px;-ms-border-radius:3px;border-radius:3px;}
.btn-navy{padding:5px 30px 5px 10px;font-size:12px;font-weight:bold;color:#fff;background:url("../../images/imb_arrow.png") no-repeat right center;background-color:#0d60bf;border:1px solid #1f487e;-webkit-border-radius:3px;-moz-border-radius:3px;-ms-border-radius:3px;border-radius:3px;}
.btn-del{margin-left:5px;width:15px;height:15px;background:url("../../images/btn_del.png") no-repeat center center;background-color:#f3f4f5;border:1px solid #9c9fa5;-webkit-border-radius:3px;-moz-border-radius:3px;-ms-border-radius:3px;border-radius:3px;text-indent:-9999px;}
.bigBtn{padding:8px 15px;font-size:14px;}

.btn-green.bigBtn{padding:8px 30px 8px 15px;}
.btn-gray.bigBtn{padding:8px 30px 8px 15px;}
.btn-blue.bigBtn{padding:8px 30px 8px 15px;}
.btn-navy.bigBtn{padding:8px 30px 8px 15px;}

.btn-plus{width:30px;height:25px;background:url("../../images/btn_plus.png") no-repeat center center;background-color:#edeff5;text-indent:-9999px;border:1px solid #80808f;-webkit-border-top-left-radius:3px;-moz-border-top-left-radius:3px;-ms-border-top-left-radius:3px;border-top-left-radius:3px;-webkit-border-bottom-left-radius:3px;-moz-border-bottom-left-radius:3px;-ms-border-bottom-left-radius:3px;border-bottom-left-radius:3px;}
.btn-minus{width:30px;height:25px;background:url("../../images/btn_minus.png") no-repeat center center;background-color:#edeff5;text-indent:-9999px;border:1px solid #80808f;border-left:none;-webkit-border-top-right-radius:3px;-moz-border-top-right-radius:3px;-ms-border-top-right-radius:3px;border-top-right-radius:3px;-webkit-border-bottom-right-radius:3px;-moz-border-bottom-right-radius:3px;-ms-border-bottom-right-radius:3px;border-bottom-right-radius:3px;}

.wrap-input{position:relative;display:block;border:2px solid #63696f;-webkit-border-radius:3px;-moz-border-radius:3px;-ms-border-radius:3px;border-radius:3px;overflow:hidden;}
.wrap-input input[type="text"]{border:none;width:100%;padding-right:48px;}
.wrap-input button{position:absolute;right:0;top:0;}
.btn-search{padding:5px 10px;font-size:12px;color:#fff;font-weight:bold;background-color:#7c838a;border:1px solid #63696f;-webkit-border-radius:3px;-moz-border-radius:3px;-ms-border-radius:3px;border-radius:3px;}
.inBtn{height:100%;border:none;-webkit-border-radius:0;-moz-border-radius:0;-ms-border-radius:0;border-radius:0;}

.wrap-date{position:relative;display:inline-block;border:1px solid #ccc;-webkit-border-radius:3px;-moz-border-radius:3px;-ms-border-radius:3px;border-radius:3px;}
.wrap-date input[type="text"]{border:none;width:100%;padding-right:23px;}
.wrap-date button{position:absolute;right:0;top:0;}
.btn-date{width:22px;height:100%;padding:3px 3px 3px 0;background:url("../../images/btn_date.png") no-repeat center center;text-indent:-9999px;}

.disabled{background-color:#f0f0f0;}

/* jquery ui 커스터마이징 */
.ui-widget{font-family:'Nanum Gothic', 'NanumGothic', '나눔고딕', '맑은 고딕', sans-serif !important;font-size:inherit;}
.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button{font-family:'Nanum Gothic', 'NanumGothic', '나눔고딕', '맑은 고딕', sans-serif !important;font-size:12px;}

.ui-tabs{margin-top:20px;}
.ui-tabs .ui-tabs-panel{padding:15px 0;}
.ui-tabs .ui-tabs-nav{padding-left:0;}
.ui-widget-content{border:none;}
.ui-widget-header{padding-left:0;border:none;border-bottom:1px solid #c8ccd5;background-color:#fff;background-image:none;}
.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl{-webkit-border-bottom-left-radius:0;-moz-border-bottom-left-radius:0;-border-bottom-left-radius:0;border-bottom-left-radius:0;}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default{border:1px solid #c8ccd5;background-color:#f3f4f6;font-weight:bold;font-size:13px;background-image:none;}
.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited{color:#8a9098;}
.ui-tabs .ui-tabs-nav li{border-bottom:1px solid #f3f4f6;}
.ui-tabs .ui-tabs-nav li.ui-tabs-active{background-color:#fff;border:1px solid #c8ccd5;border-bottom-color:#fff;}
.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited{color:#2c7edc;}

.subCont .ui-tabs{margin-top:20px;}
.subCont .ui-tabs .ui-tabs-panel{padding:15px 0;}
.subCont .ui-widget-content{border:none;}
.subCont .ui-widget-header{padding-left:0;border:none;border-bottom:1px solid #0d60bf;background-color:#fff;}
.subCont .ui-corner-all, .subCont .ui-corner-top, .subCont .ui-corner-left, .subCont .ui-corner-tl{-webkit-border-radius:0;-moz-border-radius:0;-ms-border-radius:0;border-radius:0;}
/* 2015-11-10 njkm 수정 */
/* .subCont .ui-state-default, .subCont .ui-widget-content .ui-state-default, .subCont .ui-widget-header .ui-state-default{border:1px solid #d8d9de;background-color:#f3f4f6;font-weight:bold;font-size:14px;} */
.subCont .ui-state-default, .subCont .ui-widget-content .ui-state-default, .subCont .ui-widget-header .ui-state-default{border:1px solid #d8d9de;background-color:#f3f4f6;font-weight:bold;font-size:12px;}
.subCont .ui-state-default a, .subCont .ui-state-default a:link,.subCont .ui-state-default a:visited{color:#8a9098;}
.subCont .ui-tabs .ui-tabs-nav li{border-bottom:1px solid #f3f4f6;}
.subCont .ui-tabs .ui-tabs-nav li.ui-tabs-active{background-color:#3380d9;border:1px solid #0d60bf;}
.subCont .ui-state-active a, .subCont .ui-state-active a:link, .subCont .ui-state-active a:visited{color:#fff;}

/* jQGrid 커스터마이징 */
/* .area-grid{background-color:#f5f5f5;border:1px solid #dadada;height:100px;} */
.area-grid .ui-jqgrid .ui-jqgrid-htable{border-top:2px solid #5193e1;border-left:1px solid #dadada;background-color:#edeff5;}
.area-grid .ui-state-default, .area-grid .ui-widget-content .ui-state-default, .area-grid .ui-widget-header .ui-state-default{background-color:transparent;background-image:none;color:#80808f;border:1px solid #dadada;}
.area-grid .ui-corner-all, .area-grid .ui-corner-top, .area-grid .ui-corner-right, .area-grid .ui-corner-tr{-webkit-border-radius:0;-moz-border-radius:0;-ms-border-radius:0;border-radius:0;}
.area-grid .ui-widget-content{background-image:none;}
.area-grid .ui-jqgrid .ui-jqgrid-btable{border-left:1px solid #dadada;}
.area-grid .ui-jqgrid tr.ui-row-ltr td{border-right:1px solid #dadada;}
.area-grid .ui-jqgrid tr.jqgrow td{border-bottom:1px solid #dadada;}

/* 공지사항 팝업 */
.popNotice{position:absolute;width:433px;padding:10px 10px 15px;border:1px solid #d5d5d5;}
.popNotice h1{padding:0 10px 10px 10px;color:#333;font-weight:bold;font-size:16px;border-bottom:2px solid #0d60bf;}
.popNotice h2{padding:20px 0;color:#0d60bf;font-size:25px;}
.popNotice .popContent{padding:0 20px;}
.bullet-list li{padding-left:10px;margin-bottom:15px;color:#666;font-size:12px;line-height:1.5em;background:url("../../images/img_dot_gray.png") no-repeat left 7px;}
.bullet2-list li{padding-left:10px;margin-bottom:15px;color:#666;font-size:14px;line-height:1.5em;background:url("../../images/img_dot_gray.png") no-repeat left 7px;}
.box-border{margin-top:10px;padding:15px 10px 0;font-size:12px;border-top:1px solid #d5d5d5;}
.box-border label{margin-right:20px;font-size:12px;color:#979797;}

/* 업무단계별 현황 */
.subContTwo{margin-left:170px;margin-top:10px;padding:10px 20px;min-width:500px;}
.subContTwo h3{color:#224d7f;font-weight:bold;font-size:14px;margin:20px 0 10px;background:url("../../images/img_dot_blue.png") no-repeat left center;padding-left:15px;}
.subContTwo{position:relative;}
.table-verTwo{width:920px;border-top:2px solid #5193e1;font-size:12px;}
.table-verTwo th{padding:5px 10px;line-height:1.4em;text-align:left;color:#80808f;font-weight:bold;background-color:#edeff5;border:1px solid #dadada;}
.table-verTwo td{padding:5px 10px;line-height:26px;color:#333;border:1px solid #dadada;}

.table-listWrkspprt{width:920px;border-top:2px solid #5193e1;font-size:12px;}
.table-listWrkspprt th{padding:10px;line-height:1.4em;color:#80808f;font-weight:bold;background-color:#edeff5;border-bottom:1px solid #dadada;white-space:nowrap;}
.table-listWrkspprt td{padding:10px;line-height:1.4em;text-align:center;border-bottom:1px solid #dadada;}
.table-listWrkspprt td.ta-l{text-align:left;}
.table-listWrkspprt td a{text-align:left;color:inherit;box-sizing:border-box;}
.table-listWrkspprt tr:hover{background-color:#f3f6fb;}
.table-listWrkspprt tr:hover a{color:#1163c1;}

.subContThree{margin-left:170px;margin-top:10px;padding:10px 20px;min-width:500px;}
.subContThree h3{color:#224d7f;font-weight:bold;font-size:14px;margin:20px 0 10px;background:url("../../images/img_dot_blue.png") no-repeat left center;padding-left:15px;}
.subContThree{position:relative;}
.table-verThree{width:960px;border-top:2px solid #5193e1;font-size:12px;}
.table-verThree th{padding:5px 10px;line-height:1.4em;text-align:left;color:#80808f;font-weight:bold;background-color:#edeff5;border:1px solid #dadada;}
.table-verThree td{padding:5px 10px;line-height:26px;color:#333;border:1px solid #dadada;}

.subContTwoPopup{margin-top:2px;min-width:500px;}
.subContTwoPopup h3{color:#224d7f;font-weight:bold;font-size:14px;background:url("../../images/img_dot_blue.png") no-repeat left center;}
.subContTwoPopup{position:relative;}
.table-verTwoPopup{width:890px;border-top:2px solid #5193e1;font-size:12px;}
.table-verTwoPopup th{padding:5px 10px;line-height:1.4em;text-align:left;color:#80808f;font-weight:bold;background-color:#edeff5;border:1px solid #dadada;}
.table-verTwoPopup td{padding:5px 10px;line-height:26px;color:#333;border:1px solid #dadada;}

.subContThreePopup{margin-top:2px;min-width:500px;}
.subContThreePopup h3{color:#224d7f;font-weight:bold;font-size:14px;background:url("../../images/img_dot_blue.png") no-repeat left center;}
.subContThreePopup{position:relative;}
.table-verThreePopup{width:910px;border-top:2px solid #5193e1;font-size:12px;}
.table-verThreePopup th{padding:5px 10px;line-height:1.4em;text-align:left;color:#80808f;font-weight:bold;background-color:#edeff5;border:1px solid #dadada;}
.table-verThreePopup td{padding:5px 10px;line-height:26px;color:#333;border:1px solid #dadada;}

.table-listWrkspprtPopup{margin-left: 20px;width:890px;border-top:2px solid #5193e1;font-size:12px;}
.table-listWrkspprtPopup th{padding:10px;line-height:1.4em;color:#80808f;font-weight:bold;background-color:#edeff5;border-bottom:1px solid #dadada;white-space:nowrap;}
.table-listWrkspprtPopup td{padding:10px;line-height:1.4em;text-align:center;border-bottom:1px solid #dadada;}
.table-listWrkspprtPopup td.ta-l{text-align:left;}
.table-listWrkspprtPopup td a{text-align:left;color:inherit;box-sizing:border-box;}
.table-listWrkspprtPopup tr:hover{background-color:#f3f6fb;}
.table-listWrkspprtPopup tr:hover a{color:#1163c1;}

.area-call{margin-top:25px;padding:25px 0 0;border-top:1px dashed #ccc;}
.callNumber{padding:0 20px 0 25px;color:#717171;font-size:17px;line-height:26px;background:url("../../images/icon_call.png") no-repeat left center;}
.btn-sky2{padding:10px 15px;font-size:14px;color:#fff;background-color:#2c7edc;}

/* 오픈준비중 */
.intro{position:absolute;left:0;right:0;top:0;bottom:0;margin:auto;width:550px;height:120px;padding-top:350px;background:url("../../images/img_intro.png") no-repeat center top;}
.intro h1{color:#2c7edc;font-size:53px;text-align:center;}
.intro p{margin-top:20px;color:#222;font-size:20px;text-align:center;}
.w60p{width:60%;}
.w100p{width:100%;}
.w75p{width:75%;}

/* 인풋박스 기본입력 설정 */
/* inactive => default로 영문모드, active => default로 한글모드, auto => 한/영 중 선택된 모드, disabled => 영문만을 사용할 수 있는 모드*/
/* .defaultHan {ime-mode:active;} */

@media print
{
	.noprint{display:none;}
}
